Repository andr-235/fullstack-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, typescript-check

Path conditions:
  safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  node_modules/|
  __pycache__/|
  \.git/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  .*\.log
)$ 
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  node_modules/|
  __pycache__/|
  \.git/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  .*\.log
)$ 

docs: обновлен README для тестирования branch protection
  README.md
Due: none

feat: добавлена базовая структура frontend для CI/CD
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/Dockerfile
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/package.json
  frontend/src/__tests__/page.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: typescript-check

fix: исправлены backend зависимости и добавлены тесты
  backend/pyproject.toml
  backend/pytest.ini
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/test_main.py
Due: safety-check

fix: исправлены конфликты зависимостей и настройки frontend
  backend/requirements-dev.txt
  frontend/.gitignore
Due: safety-check

fix: добавлен package-lock.json для исправления npm cache в GitHub Actions
  frontend/package-lock.json
Due: none

feat: настроена полная структура Next.js 14 frontend с тестами и CI/CD
  frontend/README.md
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/next.config.ts
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
Due: typescript-check

fix: исправлены ошибки CI/CD для backend и frontend
  .github/workflows/test.yml
  backend/requirements.txt
  frontend/package.json
Due: safety-check

fix: критические исправления CI/CD ошибок
  .github/workflows/test.yml
  backend/requirements.txt
Due: safety-check

fix: исправлены критические конфликты зависимостей
  .github/workflows/test.yml
  backend/requirements-dev.txt
  frontend/pnpm-lock.yaml
Due: safety-check

fix: радикальное решение CI/CD ошибок - убираю проблемные зависимости
  .github/workflows/test.yml
  backend/requirements-dev.txt
  frontend/pnpm-lock.yaml
Due: safety-check

fix: убрано кэширование pnpm для исправления frontend CI/CD
  .github/workflows/test.yml
Due: none

style: автоматическое форматирование кода
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/api.py
  backend/app/api/v1/groups.py
  backend/app/api/v1/keywords.py
  backend/app/api/v1/parser.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/models/comment_keyword_match.py
  backend/app/models/keyword.py
  backend/app/models/vk_comment.py
  backend/app/models/vk_group.py
  backend/app/models/vk_post.py
  backend/app/schemas/__init__.py
  backend/app/schemas/base.py
  backend/app/schemas/keyword.py
  backend/app/schemas/parser.py
  backend/app/schemas/vk_comment.py
  backend/app/schemas/vk_group.py
  backend/app/services/__init__.py
  backend/app/services/parser_service.py
  backend/app/services/vk_api_service.py
  backend/tests/__init__.py
  backend/tests/test_main.py
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/src/__tests__/page.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: typescript-check

fix: исправлены CI/CD тесты и добавлена полная структура frontend
  backend/app/api/v1/groups.py
  backend/app/api/v1/keywords.py
  backend/app/api/v1/parser.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/models/comment_keyword_match.py
  backend/app/models/keyword.py
  backend/app/models/vk_comment.py
  backend/app/models/vk_group.py
  backend/app/models/vk_post.py
  backend/app/schemas/__init__.py
  backend/app/schemas/base.py
  backend/app/schemas/keyword.py
  backend/app/schemas/parser.py
  backend/app/schemas/vk_comment.py
  backend/app/schemas/vk_group.py
  backend/app/services/parser_service.py
  backend/app/services/vk_api_service.py
  backend/pyproject.toml
  backend/tests/test_main.py
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/jest.config.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/__tests__/page.test.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: typescript-check

fix: исправлены GitHub Actions workflows для успешного прохождения CI/CD
  .github/workflows/test.yml
Due: none

fix: исправлены проблемы форматирования backend и сделаны frontend тесты non-blocking
  .github/workflows/test.yml
  backend/app/api/v1/keywords.py
  backend/app/api/v1/parser.py
  backend/app/models/vk_comment.py
  frontend/.prettierignore
Due: none

fix: исправлены ошибки типизации mypy в backend
  backend/app/api/v1/api.py
  backend/app/api/v1/keywords.py
  backend/app/api/v1/parser.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/schemas/parser.py
  backend/app/schemas/vk_comment.py
  backend/app/services/parser_service.py
  backend/app/services/vk_api_service.py
  backend/pyproject.toml
  backend/tests/test_main.py
Due: none

fix: дополнительные исправления mypy
  backend/app/api/v1/keywords.py
  backend/app/api/v1/parser.py
  backend/app/core/database.py
  backend/pyproject.toml
Due: none

fix: исправлены все критические ошибки mypy
  backend/app/api/v1/groups.py
  backend/app/core/database.py
  backend/app/services/parser_service.py
  backend/app/services/vk_api_service.py
Due: none

fix: финальное смягчение mypy правил для SQLAlchemy
  backend/pyproject.toml
Due: none

fix: исправлены проблемы с сортировкой импортов (isort) в database.py
  backend/app/core/database.py
Due: none

fix: исправлены проблемы с драйвером БД и deprecated функциями
  backend/app/core/database.py
  backend/app/main.py
  backend/requirements.txt
Due: safety-check

fix: исправлены проблемы с драйвером БД в CI/CD
  .github/workflows/test.yml
Due: none

fix: исправлены docker-compose команды для совместимости с Docker Compose v2
  .github/workflows/test.yml
Due: none

fix: добавлен development stage в frontend Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Due: none

fix: улучшены integration tests и диагностика Docker контейнеров
  .github/workflows/test.yml
  frontend/Dockerfile
Due: none

fix: исправлена конфигурация Docker для корректного запуска frontend
  docker-compose.yml
  frontend/Dockerfile
Due: none

feat: добавлены API endpoints для статистики и исправлен дашборд
  backend/app/api/v1/api.py
  backend/app/api/v1/stats.py
  frontend/app/dashboard/page.tsx
  frontend/components/layout/sidebar.tsx
  frontend/hooks/index.ts
Due: typescript-check

fix: исправлены проблемы с визуальным отображением и Docker конфигурацией
  frontend/app/dashboard/page.tsx
  frontend/app/layout.tsx
Due: typescript-check

feat: обновлена конфигурация frontend и добавлена документация
  docs/DOCKER_TROUBLESHOOTING.md
  frontend/Dockerfile
  frontend/app/globals.css
  frontend/next.config.js
  frontend/next.config.ts
  frontend/postcss.config.mjs
  frontend/tailwind.config.js
Due: typescript-check

feat: добавлена поддержка production деплоя на IP адрес
  PRODUCTION_SETUP.md
  docker-compose.prod.ip.yml
  nginx/nginx.prod.ip.conf
  scripts/create-ssl-certs.sh
  scripts/deploy-ip.sh
Due: none

refactor: обновлены скрипты для улучшенной поддержки production
  scripts/backup.sh
  scripts/deploy.sh
  scripts/setup-server.sh
Due: none

fix: исправлено форматирование кода в stats.py
  backend/app/api/v1/stats.py
Due: none

style: исправлена сортировка импортов в stats.py
  backend/app/api/v1/stats.py
Due: none

style: исправлены ошибки E712 в stats.py
  backend/app/api/v1/stats.py
Due: none

style: восстановлен и автоформатирован stats.py через Black
  backend/app/api/v1/stats.py
Due: none

fix: исправлена ошибка bun lockfile в Dockerfile frontend
  frontend/Dockerfile
Due: none

build: переход с bun на pnpm для управления зависимостями
  frontend/bun.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix: добавлено обязательное поле packages в pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
Due: none

refactor: адаптация Dockerfile под pnpm вместо bun
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Due: none
