Repository andr-235/fullstack-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, typescript-check

safety-check:
  name: Safety check Python dependencies
  entry: bash -c 'cd backend && safety check --json || true'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: правки Dockerfile фронта для корректной сборки и проброса переменных
  frontend/Dockerfile
Due: none

fix: добавлен psycopg2-binary для поддержки Postgres
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-check

fix: добавлен safe.directory для git в деплой-скрипте (убирает ошибку dubious ownership)
  .github/workflows/deploy-production.yml
Due: none

fix: деплой, зависимости и docker-compose (rebase, без конфликтов) (#100)
  .github/workflows/deploy-production.yml
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-check

fix: исправлен фильтр по группам в комментариях (устранён баг с group_id=NaN при выборе 'Все группы')
  frontend/app/comments/page.tsx
Due: typescript-check

wip: временный коммит для rebase
  frontend/app/comments/page.tsx
Due: typescript-check

debug: добавлены console.log для диагностики работы фильтра по группам и useInfiniteComments
  frontend/app/comments/page.tsx
Due: typescript-check

wip: временный коммит для rebase
  backend/app/api/v1/parser.py
  backend/app/schemas/vk_comment.py
Due: none

Fix/frontend comments group filter (#101)
  backend/app/api/v1/parser.py
  backend/app/schemas/vk_comment.py
  frontend/after.txt
  frontend/app/comments/page.tsx
Due: typescript-check

refactor: update group filter handling in CommentsPage component with console logging for better debugging
  frontend/app/comments/page.tsx
Due: typescript-check

🧹 Чистка и структурирование ветки main (#102)
  .github/workflows/deploy-production.yml
  backend/app/api/v1/parser.py
  docker-compose.prod.ip.yml
  frontend/Dockerfile
Due: none

chore: очистка истории main, только README.md
  README.md
Due: none

fix: устранён конфликт в comments/page.tsx, теперь сборка фронта не падает
  frontend/app/comments/page.tsx
Due: typescript-check

fix: устранён конфликт в comments/page.tsx, теперь сборка фронта не падает (#103)
  frontend/after.txt
  frontend/app/comments/page.tsx
Due: typescript-check

fix: добавлен build-контекст для backend в docker-compose.prod.ip.yml
  docker-compose.prod.ip.yml
Due: none

fix: добавлен build-контекст для backend в docker-compose.prod.ip.yml (#105)
  docker-compose.prod.ip.yml
Due: none

chore: полностью удалён psycopg2-binary из зависимостей, requirements и документации
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-check

chore: полностью удалён psycopg2-binary из зависимостей, requirements и документации (#106)
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-check

fix(frontend): добавить curl в Dockerfile для корректной работы healthcheck
  frontend/Dockerfile
Due: none

fix(frontend): добавить curl в Dockerfile для корректной работы healthcheck (#107)
  frontend/Dockerfile
Due: none

chore(docker): оптимизация Dockerfile и docker-compose для production, улучшение безопасности и производительности
  backend/Dockerfile
  docker-compose.prod.ip.yml
  frontend/Dockerfile
Due: none

chore(docker): оптимизация Dockerfile и docker-compose для production, улучшение безопасности и производительности (#108)
  backend/Dockerfile
  docker-compose.prod.ip.yml
  frontend/Dockerfile
Due: none

chore(backend): добавить alembic/.gitkeep для Docker-сборки
  backend/alembic/.gitkeep
Due: none

chore(backend): стандартизировать структуру alembic, использовать только migrations для миграций, обновить Dockerfile и alembic.ini
  backend/alembic.ini
  backend/alembic/.gitkeep
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/160bf10264a1_create_all_tables.py
  backend/migrations/versions/51fcd6f1165b_fix_server_default_now_для_created_at_.py
  backend/migrations/versions/84629a3c9ad3_initial_migration.py
  backend/migrations/versions/bce7a0c9bf4a_fix_add_nullable_false_for_created_at_.py
  backend/migrations/versions/dde5a46a2918_fix_add_default_for_created_at_in_vk_.py
  backend/migrations/versions/f58c81a1f7fd_merge_heads.py
Due: none

Chore/docker compose prod optim (#109)
  backend/alembic.ini
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/160bf10264a1_create_all_tables.py
  backend/migrations/versions/51fcd6f1165b_fix_server_default_now_для_created_at_.py
  backend/migrations/versions/84629a3c9ad3_initial_migration.py
  backend/migrations/versions/bce7a0c9bf4a_fix_add_nullable_false_for_created_at_.py
  backend/migrations/versions/dde5a46a2918_fix_add_default_for_created_at_in_vk_.py
  backend/migrations/versions/f58c81a1f7fd_merge_heads.py
Due: none

fix(backend): исправить опечатку в Dockerfile — использовать --requirement вместо --requirements для uv pip install
  backend/Dockerfile
Due: none

Chore/docker compose prod optim (#111)
  backend/Dockerfile
Due: none

fix(frontend): синхронизировать версию pnpm с локальной (10.12.4) для совместимости lockfile
  frontend/Dockerfile
Due: none

Chore/docker compose prod optim (#112)
  frontend/Dockerfile
Due: none

chore(frontend): удалить копирование public из Dockerfile — директория больше не используется
  frontend/Dockerfile
Due: none

Chore/docker compose prod optim (#113)
  frontend/Dockerfile
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: none

Update Dockerfile (#114)
  frontend/Dockerfile
Due: none

docs: добавить подробную инструкцию по обращению к фронтенду через nginx по IP (production setup)
  docs/PRODUCTION_SETUP.md
Due: none

docs: добавить подробную инструкцию по обращению к фронтенду через nginx по IP (production setup) (#115)
  docs/PRODUCTION_SETUP.md
Due: none

fix(deploy): интеграция .env.prod для production и CI/CD, корректная подгрузка переменных окружения
  .github/workflows/deploy-production.yml
  docker-compose.prod.ip.yml
Due: none

fix(deploy): интеграция .env.prod для production и CI/CD, корректная подгрузка переменных окружения (#116)
  .github/workflows/deploy-production.yml
  docker-compose.prod.ip.yml
Due: none

Path conditions:
  safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  node_modules/|
  __pycache__/|
  \.git/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  .*\.log
)$ 
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  node_modules/|
  __pycache__/|
  \.git/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  .*\.log
)$ 
